# Exclude all node_modules
node_modules/**

# Include 'hygen' module
!node_modules/hygen/**

# Exclude source files and configs not needed at runtime
src/**
esbuild.js
tsconfig.json
package-lock.json

# Exclude other unnecessary files
.vscode/**
README.md
CHANGELOG.md
LICENSE

# Include necessary files
!out/**
!_templates/**
!package.json